// === Variables === \\
// Colors
$black: #000;
$white: #fff;

// for project
$orange: #ff8f65;
$yellow: #fcb600;
$paste: #09c2bf;
$paste-1: #024847;
$paste-2: #025f5d;
$paste-3: #039d9b;
$gray: #a5b4cb;

// Font Families
$primary-color: $black;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: Gilroy;

// Font Sizes
$primary-font-size: 1.6rem;

// $secondary-font: Montserrat;
